
DA-2K/
datasets/
Depth-Anything-HugginFace/
Depth-Anything/assets/
Depth-Anything/tmp/
Depth-Anything/metric_depth/data
idisc/nyu/
idisc/idisc/models/checkpoints/
MonoDTR/data/
MonoDTR/new_training/
MonoDTR/workdirs/MonoDTR/checkpoint/MonoDTR_latest.pth
yolov5/tmp/
yolov5/runs/
*.pth
*.pt
Depth-Anything-V2/metric_depth/exp
Depth-Anything/frame_copy_depth.png
Marigold/checkpoint
Marigold/venvmarigold
Depth-Anything-V2/da2venv
__pycache__/
